@font-face {
	font-family: 'ZealotOutline-rnMy';
	src: local('ZealotOutline-rnMy'),
		url(./fonts/ZealotOutline-rnMy.ttf) format('truetype');
}

.header {
	background-color:#6441A4;
}

#main-brand {
	font-family: 'ZealotOutline-rnMy';
	font-size: 24px;
}

@media only screen and (min-width: 600px) {
  #main-brand {
	font-size: 38px;
}
}
